body {
  background-color: rgb(224, 224, 224);
}

.navbar {
  width: 100px;
  height: 100vh;
  background-color: #ff9770;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.pic-container {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: azure;
  position: absolute;
  top: 0;
  margin-top: 15px;
}

.profile-pic {
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-right: 30px;
  justify-content: space-between;
  height: 80%;
  margin-top: 90px;
}

.new-post {
  position: absolute;
  margin-top: 50px;
}

.auth-container {
  height: 600px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 200px;
  background-color: #ff9770;
  border-radius: 20px;
}

.auth-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  width: 80%;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;

}
.dashboard {
  position: absolute;
  top: 0;
  margin-left: 300px;
  margin-top: 50px;
  width: 500px;
}

.search-bar {
  border: solid black 1px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  width: 65vw;
  background-color: white;
}
