body {
  background-color: rgb(224, 224, 224);
  font-family: 'Open Sans', sans-serif;
}

.App {
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.helo-img {
  height: 100px;
  width: 100px;
  margin: -10px;
}

.helo-name {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin: 15px;
}

.navbar {
  width: 100px;
  height: 100vh;
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.pic-container {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: azure;
  position: absolute;
  top: 0;
  margin-top: 15px;
}

.profile-pic {
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-right: 30px;
  justify-content: space-between;
  height: 80%;
  margin-top: 90px;
  font-family: 'Open Sans', sans-serif;
}

.new-post {
  position: absolute;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

.auth-container {
  height: 55%;
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 10%;
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
}

.auth-parent {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  height: 80%;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  font-family: 'Open Sans', sans-serif;
}

input {
  margin: 10px;
}

.dashboard {
  position: absolute;
  top: 0;
  margin-left: 300px;
  margin-top: 50px;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
}

.search-bar {
  border: solid black 1px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  width: 65vw;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.post-body {
  border: solid black 1px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
  width: 65vw;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  height: 80px;
  margin-top: 10px;
}

.profile-pic-container {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: azure;
  
}

.profile-pic-post {
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.post-by {
  margin-right: -470px;
}

.posts {
  margin-top: 40px;
}

.search {
  width: 450px;
}

.post {
  position: absolute;
  top: 0;
  display: flex;
  margin: 100px 0px 0px 350px;
  height: 55%;
  width: 60%;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  border-radius: 6px;
}

button {
  font-family: 'Open Sans', sans-serif;
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  padding: 10px 20px;
    color: #fff;
    border: none;
    margin: 5px;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

/* input[type=checkbox] {
  display: none;
} */

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 5em;
  height: 5em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
